<HTML>
 <HEAD>
    <TITLE>
      Ryan's HTML playground
    </TITLE>
  </HEAD>
<BODY bgcolor ="gray">
  <H1 align="center">About Page</H1>
  <P> I am a recent graduate of the University of Nevada Reno with a degree in Computer Science and Engineering. Currently, I am learning Ruby on Rails, HTML, and CSS in order to further my education and professional development.</P>
  <%= link_to 'Home', root_path %>
</BODY>
</HTML>