<HTML>
 <HEAD>
    <TITLE>
      Ryan's HTML playground
    </TITLE>
  </HEAD>
<BODY bgcolor ="gray">
  <H1 align="center">Home Page</H1>
  <%= image_tag 'profileimage.png' %>
  <P align="left">My name is Ryan Wilmington. This is a test page for HTML using a model-view-controller architectural pattern.</P>
  <P1 align="left">This is a link to the about section   <%= link_to 'About', about_path %> </P1>
</BODY>
</HTML>